@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  text-align: center;
  font-size: 1em;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 30px 0;
  color: #333333;
}
